header {
  height: 25px;
  background-color: #696969;
}

.panel {
  width: 10%;
  background-color: #E6E6FA;
  height: -webkit-fill-available;
  font-size: 30px;
}

.ui-panel {
  border-radius: 5px;
  background-color: #A9A9A9;
  width: -webkit-fill-available;
}

.float {
  float: left;
}

.person-detail {
  background-color: #9f9fef;
  width: 90%;
  height: 400px;
  text-align: -webkit-center;
  position: absolute;
  overflow: scroll;
}

.front-page-container {
  background-color: gray;
  width: 90%;
  height: -webkit-fill-available;
  text-align: -webkit-center;
}
.table {
  border-width: 5px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  font-size: -webkit-xxx-large;
  border-spacing: 20px;
}

table, th, td {
 border: solid 1px #DDD;
 border-collapse: collapse;
 padding: 2px 3px;
 text-align: center;
 margin-top: 60px;
 width: inherit;
}

th {
  font-weight:bold;
}

.top-button {
  margin-left: 90%;
  height: 35px;
  width: -webkit-fill-available;
  border-radius: 5px;
  background-color: lavender;
}
        
#personBtn {
  width: -webkit-fill-available;
  height: 34px; 
  display: -webkit-box;
}

#addressBtn {
  width: -webkit-fill-available;
  height: 34px; 
  display: -webkit-box;
}

.form-div {
  height: 420px;
  width: 550px;
  display: none;
  margin-top: 400px;
  background-color: aliceblue;
  margin-left: 650px;
  text-align: -webkit-center;
  position: absolute;
}
.form-display {
  background-color: #F5F5DC;
  height: 420px;
  width: 550px;
  display: none;
}

.address-form-display {
  background-color: #F5F5DC;
  height: 420px;
  width: 550px;
  display: none;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  font-size: larger;
  margin-top: 25px;
  margin-right: 10px;
}​

#personId {
  border-radius : 5px;
  background-color: black;
  height: 10px;
  width: 10px;
}
.textbox {
  margin: 10px;
}

.hidden {
  visibility: hidden;
}
/* #submit { */
  /* margin: 20px; */
/* } */

/* #create { */
  /* margin: 20px; */
/* } */

#topLabel {
  margin-top: 65px;
}

.top-right-img {
  height: 20px;
  width: 20px;
  float: right;
  margin: 5px;
}